@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
    --wrapper_bg_color: #F4F4F4;
    --main_text_color: #000000;
    --secondary_text-color: #565656;
    --gray_text_color: #686868;
    --blue: #008AD8;
    --white: #ffffff;
}

body {
    margin: 1.5em 2em;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--main_text_color);
}

/* mobile view */

.wrapper {
    padding: 2.5em;
    background: var(--wrapper_bg_color);
}

/* header */

.main_title {
    font-size: 2em;
}

.para {
    font-size: 1.125em;
    color: var(--secondary_text-color);
    line-height: 1.4;
}

.options {
    position: relative;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.far, .fas {
    cursor: pointer;
}

.menu {
    margin: 0 .5em 1.8em;
    cursor: pointer;
}

.search {
    cursor: pointer;
    width: 100%;
    border-radius: 2em;
    padding: .6em;
    border: none;
    outline: none;
    background: white url('./svg/search.svg') no-repeat right .8em center;
    margin: .1em 0 2em;
}

.search:focus {
    outline: thin dotted;
}

/* select options ---> fillter */

.select_options {
    position: absolute;
    top: 3.5rem;
    right: 1rem;
    background: var(--white);
    padding: .5em;
    max-width: 260px;
    max-height: 200px;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    clip-path: circle(0% at 100% 0%);
    transition: clip-path 300ms ease-in;
}

.select {
    padding: .2em;
    margin: .5em
}

input[type="checkbox"] {
    margin-right: 1em;
}

/* main */

.labels {
    margin: 1em 0;
    padding: .4em;
    background: var(--blue);
    color: var(--white);
    display: grid;
    grid-template-columns: 40% 30% 20% auto;
    display: none;
}

.labels p {
    font-size: 1rem;
}

/* car_details */

.car_detail {
    padding: 1em;
    margin: -1em -1em 2em;
}

.car_detail:hover {
    background: var(--white);
}

.car_detail h2{
    color: var(--blue);
    font-size: 1.375rem;
}

.car_detail a {
    text-decoration: none;
}


.car_address {
    color: var(--gray_text_color);
    font-size: 1.125em;
    line-height: 1.75;
    margin-bottom: 0;
}

.car_price_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car_price {
    font-size: 1.5em;
}

/* media queries */

@media (min-width: 900px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
    }
    .search, .menu {
        margin: unset;
    }
    .labels {
        display: grid;
        margin: unset;
        margin-bottom: 2em;
        padding: 0 3em;
    }
    .car_img {
        display: none;
    }
    .car_detail {
        display: grid;
        grid-template-columns: 40% 30% auto;
        margin: 1em 0;
    }
    .far, .fas {
        margin-right: 1em;
    }
    .car-location {
        margin: 0;
    }
    .lbl-price{
        margin-left: 1em;
    }
    .lbl-action {
        margin-left: 2em;
    }
}



