@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
    --main_text_color: #000000;
    --secondary_text-color: #565656;
    --blue: #008AD8;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--main_text_color)
}





/*  */
