@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
    --wrapper_bg_color: #F4F4F4;
    --main_text_color: #000000;
    --secondary_text-color: #565656;
    --gray_text_color: #686868;
    --blue: #008AD8;
    --white: #ffffff;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--main_text_color);
}

/* mobile view */

.wrapper {
    padding: 2.5em;
    background: var(--wrapper_bg_color);
}

/* header */

.main_title {
    font-size: 2em;
}

.para {
    font-size: 1.125em;
    color: var(--secondary_text-color);
    line-height: 1.4;
}

.search_bar {
    margin: 2em 0;
    height: 1.625em;
    position: relative
}

.select_options {
    padding: .5em;
    width: 70%;
    max-width: 260px;
    max-height: 200px;
    box-shadow: 0 0 20px rgba(0,0,0,.2)
}

.select {
    padding: .2em;
    margin: .5em
}

input[type="checkbox"] {
    margin-right: 1em;
}

/* main */

.labels {
    margin: 1em 0;
    padding: .4em;
    background: var(--blue);
    color: var(--white);
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr;
    display: none;
}

.lbl-details {
    font-size: 0.875em;
}

/* car_details */

.car_detail {
    padding: 1em;
}

.active {
    background: var(--white);
    border-radius: 6px;
}

.car_detail h2{
    color: var(--blue);
    font-size: 1.375em;
    line-height: 1.75;
}

.car_detail a {
    text-decoration: none;
}

.car_address {
    color: var(--gray_text_color);
    font-size: 1.125em;
    line-height: 1.27;
}

.car_price {
    font-size: 1.5em;
    line-height: 1.25;
}

.car_price_box {
    display: flex;
    justify-content: space-between
}

.action_filled {
    display: none;
}

/* media queries */

@media (min-width: 800px) {
    body {
        color: red;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
    .options {
        display: none;
    }
    .labels {
        display: grid;
    }
    .car_img {
        display: none;
    }
        .car_detail {
        display: grid;
        grid-template-columns: 3fr 2fr 1fr 1fr;

    }
}


